<html>
<head>
    <title>Contact us</title>
</head>
<body>
    <h1>Contact us</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="field">
            <b style="color: red">{{ form.subject.errors }}</b>
            {{ form.subject.label }}
            {{ form.subject }}
        </div>
        <div class="field">
            <b style="color: red">{{ form.email.errors }}</b>
            {{ form.email.label }}
            {{ form.email }}
        </div>
        <div class="field">
            <b style="color: red">{{ form.message.errors }}</b>
            {{ form.message.label }}
            {{ form.message }}
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>